body {
background-color: #f2e4b1;
color: black;
font-family: arial, helvetica, sans-serif;
font-size: 100%;
margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

table {
    table-layout: fixed;
width: 100%;
}

table, th, td {
  border: 1px solid;
}

th, td {
  padding: 15px;
}

td {
    vertical-align: top;
}

span.variant{
    color:red;
}
span.persName{
    color:green;
}
span.title{
    font-size: 1.5em;
}
